
.App {
  text-align: center;

}

.App-logo {
  height: 15vmin;
  margin-top: 2vmin;
  pointer-events: none;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  max-height: 20vh;
}

.App-link {
  color: #61dafb;
}

.BlockOne {
  background-color: #01B091
}

.App-picto1 {
  height: 40vmin;
  pointer-events: none;
  margin-bottom: 10vh;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #F398BB !important;
  border-color: white !important;
}

.form-control {
  border-color: #F398BB !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

.App-title {
  margin-top: 10vh;
  color: #F9C62D;
  text-align: start;
}

.BlockOne-title {
  -webkit-text-stroke: 0.5px #F9C62D; 

    color: white;
}
.BlockOne-subtitle {
color: white;
text-align: start;
}

.BlockTwo-title, .BlockThree-title {
  margin-top: 5vh;
  margin-bottom: 5vh;
  color: #F9C62D;
}

.BlockTwo-picto2, .BlockTwo-picto3, .BlockTwo-picto4  {
  height: 12vmin;
  margin-top: 2vmin;
  pointer-events: none;
}

.BlockThree-background {
    background: linear-gradient(to top, #01B091 45%, #fff 45%);
}
.BlockThree-picto5, .BlockThree-picto6, .BlockThree-picto7 {
  height: 30vmin;
  margin-top: 2vmin;
  pointer-events: none;
}
.BlockThree-subtitle {
  color: white;
  font-weight: bold;
}

.BlockThree-subtitle2 {
  color: white;
}
.testmockup {
  height: 60vh;
}
.BlockFour-subtext1, .BlockFour-subtext2, .BlockFour-subtext2-1 {
font-style: normal;
padding: 5vh;
font-size: 25px;
line-height: 45px;
color: #FFFFFF;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.BlockFour-subtext1, .BlockFour-subtext2{
  font-style: normal;
  padding: 5vh;
  font-size: 25px;
  line-height: 45px;
  color: #FFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .BlockFour-subtext2-1 {
    font-style: normal;
    padding: 5vh;
    font-size: 25px;
    line-height: 45px;
    color: #F9C62D;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

.BlockThree-video{
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.BlockFour-buttonQ{
  width: 50% !important;
  margin-bottom: 10vh;
  margin-inline: auto;
}