@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Quicksand';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}